.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  cursor: pointer;
  font: var(--font-label-12-r);
  text-transform: uppercase;
  border: none;
  transition: color 0.25s
  ease-in-out, border-color 0.25s
  ease-in-out, background-color 0.25s
  ease-in-out, box-shadow 0.25s
  ease-in-out;
}

.primaryButton {
  background: var(--clr-blue-100);
  color: var(--clr-grey-0);
  padding: 0 32px;
  height: 40px;

  &:hover {
    box-shadow: 0px 1.72px 6.27px 0px var(--clr-blue-200);
  }

  &:active {
    transform: scale(0.99);
  }
}

.secondaryButton {
  background: var(--clr-grey-200);
  color: var(--clr-grey-800);
  padding: 0 32px;
  height: 40px;

  &:hover {
    box-shadow: 0px 1.72px 6.27px 0px var(--clr-grey-250);
  }

  &:active {
    transform: scale(0.99);
  }
}

.quizButton {
  background: transparent;
  color: var(--clr-grey-800);
  border: 1px solid var(--clr-grey-200);
  height: 40px;

  &:hover {
    border-color: var(--clr-blue-100);
  }

  &:active {
    transform: scale(0.99);
  }
}