.emailForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.emailInput {
  width: 100%;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: var(--clr-grey-100);
  border: 2px solid var(--clr-grey-200);
  color: var(--crl-grey-500);
  padding: 18px;
  border-radius: 8px;
  font: var(--font-body-14-r);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::placeholder {
    color: var(--crl-grey-500);
  }
}

.emailInput:focus {
  border-color: var(--clr-blue-100);
}

.emailLabel {
  font: var(--font-body-16-b);
  margin-bottom: 8px;
}

.emailError {
  font: var(--font-label-12-r);
  color: var(--clr-red-500);
  margin-top: 4px;
}

.emailSubmitButton {
  margin-top: 16px;
}